/* ConfessionModal.css */

.confessionModal {
  background-color: #ffd9df; /* Pinkish hue */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  width: 300px; /* Adjust the width as needed */
  margin-right: 20px; /* Add some spacing between modals */
  display: flex; /* Make the modal flex container */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between;
  overflow-y: scroll;
  text-align: center; /* Align text to center */
}

.modalContentContainer {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.confessionPara {
  overflow-wrap: break-word;
  color: blueviolet;
}

.confessionModal h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.confessionModal p {
  margin-bottom: 10px;
}

.likeContainer {
  display: flex;
  align-items: center;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.0);
  margin-right: 10px;
}

.likeButton:hover {
  background: rgba(251, 64, 179, 0.2);
}

.likeButton img {
  width: 24px;
  height: auto;
}

.likeCount {
  margin: 0;
}
